@forward 'header';
@forward 'footer';
@forward 'sidebar';

.container-slider {
	max-width: 1750px;
}

#marque-home {
	h1 {
		font-size: 17px;
		font-weight: 300;
		display: inline-block;
		margin: 0 20px;
		color: #fff;
	}
	span {
		display: inline-block;
		margin: 0 20px;
	}
}

.product-image {
	background-color: #fff;
	background-image: radial-gradient(at 80% 0%,hsla(189,0%,83%,1) 0px,transparent 50%),radial-gradient(at 60% 48%,hsla(338,0%,88%,1) 0px,transparent 50%),radial-gradient(at 0% 100%,hsla(22,0%,82%,1) 0px,transparent 50%),radial-gradient(at 80% 100%,hsla(240,1%,80%,1) 0px,transparent 50%),radial-gradient(at 0% 0%,hsla(343,0%,87%,1) 0px,transparent 50%);
}

#nuestra-imprenta {
	#marcas {
		img {
			width: 150px;
		}
	}
}

.home-container {
	max-width: 1560px;
	p {
		font-size: 17px;
		line-height: 1.7em;
		color: #000;
		a {
			color: #606060;
			text-decoration: none;
		}
	}
	#ventajas-imprenta {
		h2 {
			color: #000;
			font-size: 30px;
			font-weight: 700;
		}
		h3 {
			font-size: 20px;
			font-weight: 500;
			display: flex;
			align-items: center;
			color: #000;
			.icon {
				position: relative;
				display: inline-block;
				vertical-align: top;
				font-size: 60px;
				color: #7900ff;
				margin: 0 20px 0 0;
				svg {
					width: 1em;
					height: 1em;
					vertical-align: top;
					fill: currentColor;
					stroke: currentColor;
					overflow: visible;
				}
			}
			p {
				display: inline-block;
				color: #000;
			}
		}
		p {
			font-weight: 300;
		}
	}
	#nuestra-imprenta {
		p {
			font-weight: 300;
		}
		h2 {
			color: #000;
			font-size: 32px;
			font-weight: 700;
		}
		h3 {
			font-size: 16px;
			font-weight: 500;
			color: #000;
		}
	}
	#beneficios-imprenta {
		h2 {
			font-size: 17px;
			font-weight: 500;
			color: #6f00b7;
		}
		h3 {
			font-size: 16px;
			font-weight: 500;
			color: #6f00b7;
		}
	}
}

div.images {
	margin-bottom: 2em;

	img {
		display: block;
		width: 100%;
		height: auto;
		box-shadow: none;
	}

	div.thumbnails {
		padding-top: 1em;
	}

	&.woocommerce-product-gallery {
		position: relative;
		background: #f9f9f9;
	}

	.woocommerce-product-gallery__wrapper {
		transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
		margin: 0;
		padding: 0;
	}

	.woocommerce-product-gallery__wrapper .zoomImg {
		background-color: #fff;
		opacity: 0;
	}

	.woocommerce-product-gallery__image--placeholder {
		border: 1px solid #f2f2f2;
	}

	.woocommerce-product-gallery__image:nth-child(n+2) {
		width: 25%;
		display: inline-block;
	}

	.woocommerce-product-gallery__trigger {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		font-size: 2em;
		z-index: 9;
		width: 36px;
		height: 36px;
		background: #fff;
		text-indent: -9999px;
		border-radius: 100%;
		box-sizing: content-box;

		&::before {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border: 2px solid #000;
			border-radius: 100%;
			position: absolute;
			top: 9px;
			left: 9px;
			box-sizing: content-box;
		}

		&::after {
			content: "";
			display: block;
			width: 2px;
			height: 8px;
			background: #000;
			border-radius: 6px;
			position: absolute;
			top: 19px;
			left: 22px;
			transform: rotate(-45deg);
			box-sizing: content-box;
		}
	}

	.flex-control-thumbs {
		overflow: hidden;
		zoom: 1;
		margin: 0;
		padding: 0;

		li {
			width: 25%;
			float: left;
			margin: 0;
			list-style: none;

			img {
				cursor: pointer;
				opacity: 0.5;
				margin: 0;

				&.flex-active,
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.woocommerce-product-gallery--columns-3 {

	.flex-control-thumbs li:nth-child(3n+1) {
		clear: left;
	}
}

.woocommerce-product-gallery--columns-4 {

	.flex-control-thumbs li:nth-child(4n+1) {
		clear: left;
	}
}

.woocommerce-product-gallery--columns-5 {

	.flex-control-thumbs li:nth-child(5n+1) {
		clear: left;
	}
}
.single-product {
	.quantity {
		width: 100%;
		display: none !important;
	}
	.yith-ywraq-add-to-quote {
		display: block!important;
		width: 100%;
		float: right;
		line-height: 20px!important;
		margin-top: 15px !important;
	}
	.add-request-quote-button {
		width: auto;
		font-size: 15px;
		padding: 8px 12px;
		float: right!important;
	}
	.add-request-quote-button {
		width: 100%!important;
		max-width: 450px;
		font-size: 18px!important;
		font-weight: 500;
		text-transform: uppercase;
		border: 0;
		border-radius: 0;
		background: #47b5ff!important;
		color: #fff!important;
		padding: 13px 20px!important;
		border: 0!important;
		text-align: center;
	}
}
.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent; }
.owl-theme .owl-nav [class*='owl-'] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #D6D6D6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px; }
.owl-theme .owl-nav [class*='owl-']:hover {
	background: #869791;
	color: #FFF;
	text-decoration: none; }
.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 10px; }

.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent; }
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline; }
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 200ms ease;
	border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #869791; }
.owl-carousel .owl-nav .owl-prev {
	position: absolute;
	left: 20px;
	top: 47%;
	transform: translateY(-50%);
	opacity: .6;
}
.owl-carousel .owl-nav .owl-prev:before {
	font-family: "Font Awesome 6 Pro";
	font-size: 30px;
	line-height: 40px;
	text-shadow: 0 0 20px #000;
	content: "\f053";
	color: #fff;
}
.owl-carousel .owl-nav .owl-prev span {
	display: none;
}
.owl-carousel .owl-nav .owl-next {
	position: absolute;
	right: 20px;
	top: 47%;
	transform: translateY(-50%);
	opacity: .6;
}
.owl-carousel .owl-nav .owl-next:before {
	font-family: "Font Awesome 6 Pro";
	font-size: 30px;
	line-height: 40px;
	text-shadow: 0 0 20px #000;
	content: "\f054";
	color: #fff;
}
.owl-carousel .owl-nav .owl-next span {
	display: none;
}
@media (max-width: 1024px) {
	#marque-home h1, #marque-home span  {
		font-size: 14px;
	}
	.home-container #ventajas-imprenta h2 {
		font-size: 25px;
	}
}
@media (max-width: 767px) {
	.home-container #ventajas-imprenta h2 {
		font-size: 20px;
	}
}
@media (max-width: 640px) {
	.home-container {
		p {
			font-size: 15px;
		}
		#nuestra-imprenta {
			h2 {
				font-size: 25px;
			}
		}
	}
}

.woocommerce-Tabs-panel--description.panel p {
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	color: #404040;
}

.woocommerce-Tabs-panel--description.panel b {
	font-weight: 500;
}

.woocommerce-tabs .tabs>li.active {
	background-color: #9b00ff!important;
}

.woocommerce-tabs .tabs>li.active a {
	color: #fff;
	text-decoration: none;
}

.variations .value {
	width: 70%!important;
	max-width: 70%;
	margin-bottom: 8px;
	float: left;
}

.taxonomy-description {
	h3 {
		font-size: 25px;
		font-weight: 500;
		color: #000;
		margin-bottom: 18px;
	}
	h4 {
		font-size: 20px;
		font-weight: 500;
		color: #000;
		margin-bottom: 7px;
	}
	a {
		color: #9b00ff;
	}
}

.separator-breadcrumb {
	display: inline-block;
	padding: 0 8px;
	color: #999;
}

.woocommerce-breadcrumb {
	color: #292929;
	font-family: poppins;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
}

.woocommerce-breadcrumb>a {
	color: #999;
}

.archive .woocommerce-breadcrumb>a {
	color: #fff;
}

.archive .woocommerce-breadcrumb {
	color: #fff;
	font-family: poppins;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
}

.woocommerce-product-details__short-description {
	strong, b {
		font-weight: 500;
	}
}
.variations_form {
	tbody, tr {
		display: block;
	}
	.variations {
		max-width: 100%;
		display: block;
	}
	select {
		width: 100%;
	}
	.add-request-quote-button:hover {
		background: #343434 !important;
		color: #fff !important;
	}
	.add-request-quote-button {
		width: auto;
		font-size: 15px;
		padding: 8px 12px;
		float: right !important;
	}
	.yith-ywraq-add-to-quote {
		display: block !important;
		width: 100%;
		float: right;
		line-height: 20px !important;
	}
	.yith_ywraq_add_item_response_message, selector .yith_ywraq_add_item_browse_message{
		padding-left: 15px;
	}
	.variations .label {
		width: 30%!important;
		float: left;
		text-align: left;
		padding: 0px 5px 0px 0px;
	}
	.variations .value {
		width: 70% !important;
		max-width: 70%;
		margin-bottom: 8px;
		float: left;
	}
	.variations select {
		font-size: 15px;
		font-weight: 400;
		text-transform: none;
		font-style: normal;
		text-decoration: none;
		line-height: 1em;
		color: #999;
		background-color: transparent;
		border-style: solid;
		border-width: 1px;
		border-color: #ebebeb;
		border-radius: 3px 3px 3px 3px;
		margin: -1px 0 3px;
		padding: 14px 14px;
	}
	.variations .label label {
		font-size: 14px;
		font-weight: 400;
		text-transform: none;
		font-style: normal;
		text-decoration: none;
		line-height: 34px;
		color: #999;
		margin: 0;
		padding: 0;
	}
	.reset_variations {
		font-size: 14.5px;
		font-weight: 400;
		text-transform: none;
		font-style: normal;
		text-decoration: none;
		line-height: 1em;
		letter-spacing: .32px;
		color: #888;
		margin: 15px 0 0;
		padding: 0;
		display: block;
	}
	.quantity {
		width: 100%;
		display: none !important;
	}
	.quantity label {
		width: 30%!important;
		font-size: 14px;
		font-weight: 400;
		float: left;
		text-align: left;
		padding: 0px 5px 0px 0px;
		color: #999;
	}
	.quantity .qty {
		width: 100px !important;
	}
}

#drawer-navigation[aria-hidden=true] button,
#drawer-navigation[aria-hidden=true] input {
	visibility: hidden;
}
