@tailwind base;
@tailwind components;
@tailwind utilities;


.menu li {
	display: block;
}

.menu li:not(.menu-item-has-children) a {
	display: block;
}

.menu .menu-item-has-children {
	position: relative;
}

@media (min-width: 1024px) {
	.menu .menu-item-has-children ul.sub-menu {
		@apply absolute bg-white shadow-2xl min-w-[210px] left-0 border-b
		border-b-gray-200 font-normal text-gray-700 mt-2.5 z-10 transition-all ease-in-out translate-y-5
		opacity-0 pointer-events-none;
	}
}

.menu .menu-item-has-children ul.sub-menu li {
	@apply w-full pt-2.5 pb-2 px-3 hover:text-violet-600;
}

@media (max-width: 1024px) {
	.menu .menu-item-has-children ul.sub-menu li {
		margin-top: 0.75rem;
	}
}

.menu .menu-item-has-children ul.sub-menu ul.sub-menu {
	left: unset;
	padding-top: 0.75rem;
	right: calc(100% + 0.1rem);
	top: -0.7rem;
	box-shadow: unset;
}

@media (max-width: 1024px) {
	.menu .menu-item-has-children ul.sub-menu ul.sub-menu {
		padding-top: 0;
		text-align: center;
	}
}

@media (max-width: 1024px) {
	.menu .menu-item-has-children ul.sub-menu {
		text-align: center;
	}
}

.menu .menu-item-has-children:hover > ul.sub-menu {
	@apply block translate-y-0 opacity-100 pointer-events-auto
}
