<footer class="site-footer" id="colophon">
	<div class="py-5 md:py-6 bg-black text-white text-xs md:text-sm leading-tight">
		<div class="container mx-auto">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
				<div class="order-1">
					<p class="mb-0 text-center md:text-left">CreaPublicidad.cl - 2022 Desarrollado por <a href="https://www.creativaweb.cl/">Agencia de Marketing</a></p>
				</div>
				<div class="order-3 lg:order-2 col-span-1 lg:col-span-2 md:hidden lg:block">
					<p class="mb-0 text-center px-10 md:py-0">Somos una IMPRENTA digital y offset hacemos enviós a todo chile, nos dedicamos a la impresión láser a color y estamos ubicados en pleno centro.</p>
				</div>
				<div class="order-2 md:order-3">
					<div class="text-center md:text-end text-lg">
						<a href="https://web.facebook.com/creapublicidadcl/" rel="nofollow" class="inline-flex items-center justify-center w-10 h-10 mr-2 text-white transition-colors duration-150 border-solid border border-white rounded-full focus:shadow-outline hover:text-slate-400 hover:border-slate-400"  aria-label="Facebook">
							<i class="fa-brands fa-facebook-f"></i>
						</a>
						<a href="https://www.instagram.com/creapublicidad_oficial/" rel="nofollow" class="inline-flex items-center justify-center w-10 h-10 mr-2 text-white transition-colors duration-150 border-solid border border-white rounded-full focus:shadow-outline hover:text-slate-400 hover:border-slate-400" aria-label="Instagram">
							<i class="fa-brands fa-instagram"></i>
						</a>
						<a href="https://www.tiktok.com/@creapublicidad_oficial" rel="nofollow" class="inline-flex items-center justify-center w-10 h-10 text-white transition-colors duration-150 border-solid border border-white rounded-full focus:shadow-outline hover:text-slate-400 hover:border-slate-400" aria-label="Instagram">
							<i class="fa-brands fa-tiktok"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
