{% if main_menu %}
	<ul class="menu flex flex-row mt-0 mr-6 space-x-8 text-sm font-semibold">
	{% for item in items %}
		<li class="py-2.5 {{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">
				{{ item.title }}
				{% if item.children %}
					<div class="nav-arrow inline-block pl-2">
						<i aria-hidden="true" class="fa fa-angle-down"></i>
					</div>
				{% endif %}
			</a>
			{% if item.children %}
				{% include "submenu.twig" with {'items': item.children} %}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
